@charset "utf-8";

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  max-width: 960px;
  margin: 0 auto;
}

.prettyprint ol.linenums > li {
	list-style-type: decimal;
}

code,pre {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

code{
  padding: 20px 0;
}

pre{
  text-align-last: left;
  /* background: #000000;
  color: #ffffff; */
}

.temporaryBox{
  display: none;
  text-align: center;
}
img{
  max-width: 720px;
}
h3{
  margin-top: 50px;
  text-align: center;
}
.btn{
  display: block;
  padding: 10px;
  margin: 0 auto;
}


/* media Queries 767
----------------------------- */
@media screen and (max-width: 767px) {
  pre{
    padding: 0;
    margin: 0;
  }
  pre.prettyprint {
    width: 97%;
    margin: 0;
    padding: 0;
    /* white-space: pre-wrap; */
  }
}
